body {

    background-color: #54a0ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: #ba50ebc4;
    width: 500px;
    height: auto;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    border: 3px solid rgba(5, 5, 5, 0.692);
    text-align: center;

}

h2,
label,
p {
    color: #f9e323;
    margin: 20px 0;
    align-self: center;
    font-size: 40px;


}

input {
    width: calc(100% - 16px);
    padding: 9px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 4px solid white;
    margin-top: 20px;
}

#Searchbtn {

    background-color: #192a56;
    font-size: medium;
    color: aliceblue;
    cursor: pointer;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    border-radius: 6px;
}

#Searchbtn :hover{
    background: #fefefe;
}

#temp-div p {


    font-size: 40px;
    margin-top: 25px;
    align-self: center;
}
#City-info {
    
    margin-top: -30px;
    padding: 0px;
    
}

#Weather-info {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: -15px;
    margin-left: -5px;
    align-content: center;
}


#WeatherIcon{
    width: 200px ;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#Humidity p{
    font-size: 20px;
    margin-top: 15px;

   
}

#humidity-icon{
    margin-top: 50px;
    margin-bottom: -140px;
    width: 150px;
    height: 150px;
    padding: 0px;
}

#Humidity-level p{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: -15px;
}

